.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
    vertical-align: baseline;
    display: none;
    font-size: $h2-font-size;
    color: $dark;
    line-height: $h2-font-size / 2.2;
    .big {
        font-size: $h2-font-size * 1.5;
        line-height: $h2-font-size / 1.2;
    }
    &:hover {
        text-decoration: none;
        color: $primary;
    }
}